
<form #documentsForm="ngForm">
  <div class="row mt-1">
    
    <div class="accordion col-md-12 col-xl-12" id="accordionExample" style="margin-top: 6%;">
      <div class="card">
        <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
          aria-controls="collapseOne">
          <h2 class="mb-0">
            <div class="row d-flex align-items-center justify-content-between px-3">
              <h3 class="m-0">Documents</h3>
              <div class="d-flex justify-content-right align-items-center">
                <span *ngIf="formSaved" class="text-success mr-2" style="font-size: 15px;">Complete</span>
                <span *ngIf="!formSaved" class="text-danger mr-2" style="font-size: 15px;">Incomplete</span>  
                <i class="fa fa-angle-down " style="font-size:30px;"></i>
              </div>
            </div>
          </h2>
        </div>
        
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="form-group">
              <div class="mt-3 mb-3"><b>Driving License</b> <span class="asterisk"> *</span></div>
              <input name="DL" type="file" #drivingLicense (change)="onChangeDrivingLicense($event.target.files)"/>
              <!-- <span class="text-danger">Max file size : 3MB</span> -->
            </div>
            <hr />
            <div class="form-group">
              <div class="mt-5 mb-3"><b>Certificate Of Residence</b> <span class="asterisk"> *</span></div>
              <input name="COR" type="file"  #certificateOfResidence (change)="onChangeCOR($event.target.files)" />
              <!-- <span style="color:red;">Max file size : 3MB</span> -->
            </div>
            <hr />
            <div class="form-group">
              <div class="mt-5 mb-3"><b>Identification Proof</b> <span class="asterisk"> *</span></div>
              <input name="IDProof" type="file" #identificationProof (change)="onChangeIdProof($event.target.files)" />
              <!-- <span style="color:red;">Max file size : 3MB</span> -->
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row d-flex justify-content-between px-4 mt-4 py-2">
    <button class="btn btn-primary" mat-button matStepperPrevious style="width: 200px;">Previous</button>
    <button class="btn btn-primary" (click)="onContinue()" [disabled]="(drivingLicense.value && certificateOfResidence.value && identificationProof.value)  == ''"
      style="width: 200px;">Continue</button>
    </div>
</form>


    <!-- Spinner -->
    <ngx-spinner bdColor="rgba(0,0,0,0.78)" size="medium" color="#fa0000" type="triangle-skew-spin" [fullScreen]="true">
      <p style="color: white"> Loading... </p>
    </ngx-spinner>