<!-- navbar -->
<app-navbar></app-navbar>

<div class="container">
    <div class="display-4 text-center mb-5 mt-2">FAQs</div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title><b>What is private Lease ?</b></mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <p>A Private Lease is a long-term car leasing contract with services, for an agreed-upon term and total
                    driving distance, designed specifically for individual customers.</p>
                <ul>
                    <li>vehicle depreciation.</li>
                    <li>road tax,</li>
                    <li>civil liability insurance,</li>
                    <li>legal protection insurance</li>
                    <li>driver’s insurance,</li>
                    <li>coverage of losses and damages to the vehicle (CASCO),</li>
                    <li>maintenance and repair costs,</li>
                </ul>
            </ng-template>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title><b>What is the term options for Private Lease?</b></mat-panel-title>

            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <p>You may take out a Private Lease for any term ranging from 24 to 48 months.</p>
            </ng-template>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title><b>Will i own the car?</b></mat-panel-title>

            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <p>Operational lease is a form of rental agreement, which means you will not become the owner of the
                    lease car and you will not be given the option to purchase the lease car at the end of the leasing
                    period. The lease car will be registered in the name of KBC Autolease.</p>
            </ng-template>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title><b>How do i determin whether i am eligible for private lease ?</b></mat-panel-title>

            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <p>Once we have received your application, we will investigate whether you have sufficient financial
                    resources for Private Lease.
                    We will inform you of the outcome through KBC Brussels Touch or KBC Brussels Mobile. If you are
                    eligible for Private Lease, we will ask you to upload the relevant documents to further process your
                    application.
                    In some cases, no further documents are required and you will see almost instantly if your
                    application has been approved.
                    If you’re married, we’ll take both partners into account. And if you’re living together with
                    someone, you can choose to take out the lease by yourself or with your partner</p>
            </ng-template>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title><b>What is the term options for Private Lease?</b></mat-panel-title>

            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <p>You may take out a Private Lease for any term ranging from 24 to 48 months.</p>
            </ng-template>

        </mat-expansion-panel>

    </mat-accordion>
</div>