<app-navbar></app-navbar>

<mat-sidenav-container>

    <mat-sidenav [(opened)]="opened">
        <h2 class="text-center m-0"> Select Filters</h2>
        <hr>

        <div class="row">
            <strong class="ml-5 mb-2" style="font-size: 16px;">Vehicle Type</strong>
            <div class="ml-3 col-md-12" *ngFor="let item of filters.types">
                <input class="mr-2" [value]="item" type="checkbox" (change)="onFilter('type',item)" > {{ item }}
            </div>
        </div>
        <hr>
        <div class="row">
            <strong class="ml-5 mb-2" style="font-size: 16px;">Brands</strong>
            <div class="ml-3 col-md-12" *ngFor="let item of filters.brands">
                <input class="mr-2" [value]="item" type="checkbox" (change)="onFilter('brand',item)"> {{ item }}
            </div>
        </div>
        <hr>
        <div class="row">
            <strong class="ml-5 mb-2" style="font-size: 16px;">Fuel Type</strong>
            <div class="ml-3 col-md-12" *ngFor="let item of filters.fuelTypes">
                <input class="mr-2" [value]="item" type="checkbox" (change)="onFilter('fuelType',item)"> {{ item }}
            </div>
        </div>
        <hr>
        <div class="row">
            <strong class="ml-5 mb-2" style="font-size: 16px;">Transmission</strong>
            <div class="ml-3 col-md-12" *ngFor="let item of filters.transmission">
                <input class="mr-2" [value]="item" type="checkbox" (change)="onFilter('transmission',item)"> {{ item }}
            </div>
        </div>
        <hr>
        <div class="row">
            <strong class="ml-5 mb-2" style="font-size: 16px;">Price Range</strong>
            <div class="ml-3 col-md-12" *ngFor="let item of range">
                <input class="mr-2" [value]="item.value" type="checkbox" (change)="onFilter('range',item)"> {{ item.value }}
            </div>
        </div>

    </mat-sidenav>

    <mat-sidenav-content>
        <button class="btn btn-secondary mt-2 position-fixed" (click)="opened = !opened"><i class="fa fa-filter"></i></button>
        <div class="text-center display-4 mt-5" *ngIf="filteredVehicles?.length == 0">No Vehicle Match Found</div>
        <div class="row px-5 mt-3">
            <div class="col-sm-12 col-md-4 col-lg-3 car-item" *ngFor="let vehicle of filteredVehicles">
                <div class="card mb-4" (click)="onVehicleSelection(vehicle.id)">
                    <img src="/assets/images/vehicles/{{ vehicle.image }}" class="card-img-top" style="height:224px" />
                    <div class="card-body serif">
                        <h4 class="text-center" style="height:50px">{{ vehicle.modelName }}</h4><br>
                        <strong>Vehicle Type: </strong> {{ vehicle.type }}<br>
                        <strong>Fuel Type: </strong> {{ vehicle.fuelType }}<br>
                        <strong>Gear Box: </strong>{{ vehicle.transmission }}<br>
                        <strong>CO2: </strong>{{ vehicle.cO2Emission }}<br>
                        <strong>Consumption: </strong>{{ vehicle.fuelConsumption }}<br>
                        <div style="display:flex;justify-content:flex-end;width:100%;">
                            <span class="product-price"  style="flex-wrap:wrap;display:flex;margin-right:-31px;">
                                <b>&euro;{{vehicle.price}}</b>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>