<div class="text-center display-4">Administrator Dashboard</div>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>

        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Quote Id </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <!-- Vehicle Column -->
        <ng-container matColumnDef="vehicle">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.brand}} {{element.model}} </mat-cell>
        </ng-container>

        <!-- rentalDate Column -->
        <ng-container matColumnDef="rentDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Rental Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.rentalDate | date }} </mat-cell>
        </ng-container>

        <!-- paybackTime Column -->
        <ng-container matColumnDef="paybackTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header> PaybackTime </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.paybackTime}} Months </mat-cell>
        </ng-container>

        <!-- mileage Column -->
        <ng-container matColumnDef="Mileage">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Mileage </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.mileage}} Kms </mat-cell>
        </ng-container>

        <!-- totalPrice Column -->
        <ng-container matColumnDef="totalPrice">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Total Price </mat-header-cell>
            <mat-cell *matCellDef="let element">&euro; {{element.totalPrice}} </mat-cell>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Quote Status </mat-header-cell>
            <mat-cell *matCellDef="let element" class="px-1">
                <span *ngIf="editStatus!=element.id"> {{element.quoteStatus}} </span>
                <select name="status" class="form-control mr-4" *ngIf="editStatus==element.id"
                    [(ngModel)]="selectedStatus">
                    <option value="" disabled="true">Select Status</option>
                    <option *ngFor="let item of statuses" [value]="item.name">{{item.name}}
                    </option>
                </select>
            </mat-cell>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="Edit">
            <mat-header-cell *matHeaderCellDef> Edit Status </mat-header-cell>
            <mat-cell *matCellDef="let element"><button class="btn btn-primary" *ngIf="editStatus!=element.id"
                    (click)="editStatus = element.id"><i class="fa fa-pencil"></i> Edit</button>
                <button class="btn btn-success" *ngIf="editStatus==element.id"
                    (click)="onEdit(element.id)">Done</button> </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,25,100]" pageSize="5"></mat-paginator>
</div>