<!-- Spinner -->
<ngx-spinner bdColor="rgba(0,0,0,0.78)" size="medium" color="#fa0000" type="triangle-skew-spin" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>


<div class="container-fluid px-0">
    <div class="row r1 p-0">
        <div class="col-md-6 col-sm-12 col-lg-6 pr-0 image-banner">
            <img src="/assets/images/RegisterBanner.jpg" alt="Register Banner" width="100%" height="100%">
        </div>

        <div class="col-md-6 col-sm-12 col-lg-6 px-5 f1 d-flex align-items-center justify-content-center">
            <!-- Form Begin -->
            <form #loginForm="ngForm" (ngSubmit)="formSubmit(loginForm)" autocomplete="off">
                <div class="text-center display-4">Login</div>
                <div class="row mt-2">

                    <div class="form-group col-md-12">
                        <label for="email">Email:</label>
                        <input id="email" type="text" name="Email" #email="ngModel" [(ngModel)]="user.Email"
                            class="form-control" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                            placeholder="email">
                        <div class="text-danger" *ngIf="email.touched && email.errors?.required">Email is Required!
                        </div>
                        <div class="text-danger" *ngIf="email.touched && email.errors?.pattern">Email is Invalid!
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="password">Password:</label>
                        <div class="input-group mb-3">
                            <input id="password" type="{{seePassword?'text':'password'}}" name="Password"
                                #password="ngModel" [(ngModel)]="user.Password" class="form-control" required placeholder="password">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="{{seePassword?'fa fa-eye':'fa fa-eye-slash'}}"
                                        (click)="seePassword = !seePassword" style="font-size: large;"></i>
                                    <!-- <input type="checkbox" (change)="seePassword = !seePassword" >  -->
                                </div>
                            </div>
                        </div>
                        <!-- <div [hidden]="!seePassword"> {{ user.Password }}</div> -->
                        <div class="text-danger" *ngIf="password.touched && !password.valid">Password is Required!
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-primary  float-center btn-block"
                            [disabled]="loginForm.invalid">Login</button>
                    </div>
                    <div class="form-group col-md-12">
                        New ? <a [routerLink]="['/account/register']">Register here</a>
                    </div>
                </div>
            </form>
            <!-- form End -->
        </div>
    </div>
</div>