.container-fluid{
    /* background-color: darkgray; */
    min-height: 100vh;
}
.r1{
    height: 100vh;
    margin-right: 0;
}
.f1{
    background-color: darkgray;
}
.image-banner{
height: 100%;
}


