<!-- navigation bar -->
<app-navbar></app-navbar>

<!-- Private Lease  -->
<div id="privateLease" class="container-fluid private-lease">
    <div class="row justify-content-center display-4 private-lease-caption mb-5">
        What is private lease
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <p>
                Leasing, or personal contract hire, is an easy and flexible way to drive away in the car you want.
                Simply pay
                the monthly costs to cover the depreciation of the car, and hand it back at the end of the lease!
            </p>
        </div>
        <div class="col-md-6">
            <img src="/assets/images/private-lease.png" alt="private lease poster" class="private-lease-image">
        </div>
    </div>
</div>
