<!-- navigation bar -->
<app-navbar></app-navbar>

<!-- banner -->
<div class="container-fluid px-0">
    <div class="banner header-text">
        <div class="banner-item-01">
            <div class="text-content" style="top:160px;">
                <form method="post">
                    <div class="display-4 text-center" style="color:aliceblue;">Search Vehicle</div>
                    <div class="container-fluid">
                        <div class="row d-flex justify-content-between mt-4 position-fixed " style="width:100%;">

                            <div class="col-2 p-0">
                                <button type="button" href="#pageSubmenu2" id="sendbtn" data-toggle="collapse"
                                    aria-expanded="false" class="dropdown-toggle form-control">
                                    Vehicle Type
                                </button>
                                <ul class="collapse list-unstyled" id="pageSubmenu2" style="color:aliceblue;background-color: black;">
                                    <li>
                                        <div id="typeList" class="d-flex flex-column">
                                            <span class="ml-3"  *ngFor="let item of types">
                                                <input class="mr-2" name="brand" [value]="item" type="checkbox">
                                                <strong>{{item}}</strong>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-2 p-0">
                                <button type="button" href="#homeSubmenu" id="Brand" data-toggle="collapse"
                                    aria-expanded="false" class="dropdown-toggle form-control">Brand</button>
                                <ul class="collapse list-unstyled " id="homeSubmenu" style="color:aliceblue;background-color: black;">
                                    <li>
                                        <div id="brandList" class="d-flex flex-column">
                                            <span class="ml-3" *ngFor="let item of brands">
                                                <input class="mr-2" name="brand" [value]="item" type="checkbox">
                                                <strong>{{item}}</strong>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-2 p-0">
                                <button type="button" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                                    class="dropdown-toggle form-control">
                                    FuelType
                                </button>
                                <ul class="collapse list-unstyled" id="pageSubmenu" style="color:aliceblue;background-color: black;">
                                    <li>
                                        <div id="fuelList" class="d-flex flex-column">
                                            <span class="ml-3" *ngFor="let item of fuelTypes">
                                                <input class="mr-2" name="brand" [value]="item" type="checkbox">
                                                <strong>{{item}}</strong>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-2 p-0">
                                <button type="button" href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false"
                                    class="dropdown-toggle form-control">
                                    Transmission
                                </button>
                                <ul class="collapse list-unstyled" id="pageSubmenu1" style="color:aliceblue;background-color: black;">
                                    <li>
                                        <div id="transmissionList" class="d-flex flex-column">
                                            <span class="ml-3" *ngFor="let item of transmission">
                                                <input class="mr-2" name="brand" [value]="item" type="checkbox">
                                                <strong>{{item}}</strong>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-2 p-0">
                                <button type="button" href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false"
                                    class="dropdown-toggle form-control">
                                    Price Range
                                </button>
                                <ul class="collapse list-unstyled" id="pageSubmenu3" style="color:aliceblue;background-color: black;">
                                    <li>
                                        <div id="rangeList" class="d-flex flex-column">
                                            <span class="ml-3" *ngFor="let item of range">
                                                <input class="mr-2" name="brand" [value]="item.id" type="checkbox">
                                                <strong>{{item.value}}</strong>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row justify-content-center">
                    <a (click)="onSearch()" class="btn btn-primary mt-2" style="position:relative;top:180px;"
                        type="submit">Search</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Spinner -->
<ngx-spinner bdColor="rgba(0,0,0,0.78)" size="medium" color="#fa0000" type="triangle-skew-spin" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>