  <div class="row mt-1">

    <div class="accordion col-md-12 col-xl-12" id="accordionExample" style="margin-top: 6%;">
      <div class="card">
        <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
          aria-controls="collapseOne">
          <h2 class="mb-0">
            <div class="row d-flex align-items-center">
              <h3 class="col-md-11 m-0"> E-Signature</h3>
              <i class="fa fa-angle-down col-md-1 col-1" style="font-size:30px;"></i>
            </div>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <!--Accordian-Body-Content-->
            <h3 class="text-success"><i class="fa fa-check"></i> Final Process</h3>
            <div class="mt-4">You need to sign your agreement online to complete the process. We use Digital Signature
              so that you don't have to print or sign any documents.</div>
            <button class="btn btn-success float-right mt-5 mr-3 mb-3" >START E-SIGNATURE</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row d-flex justify-content-between px-4 mt-4 py-2">
    <button class="btn btn-primary" mat-button matStepperPrevious style="width: 200px;">Previous</button>
    <div class="btn btn-primary" (click)="onFinish()" style="width: 200px;">Finish</div>
  </div>