<div class="container">
  <div class="row">
    <div class="accordion col-md-12" id="accordionExample" style="margin-top: 6%;">
      <div class="card">
        <div class="card-header" id="headingOne" type="button" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          <h2 class="mb-0">
            <div class="row d-flex align-items-center">
              <h6 class="col-md-11">Quote Information</h6>
              <i class="fa fa-angle-down col-md-1" style="font-size:30px;"></i>
            </div>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="row">
              <div class="col-md-7 border-right">
                <Strong>Credit check currently under process</Strong><br />
                <br />
                <p>We need more time to analyse your profile. We will come back to you within 48 hours.</p><br />
                <p> After 48 hours please do check your email or quote status in your dashboard.</p><br />
                <p>All cars on special offer are available whilst stocks last and we're unable to hold the car for you
                  until
                  you've placed your order. </p>
                <p>Please continue to place your order as soon as possible.</p><br />
                <p>If you have any questions please call 1122334455 or send an email to privatelease@gmail.com.</p>
                <br />
              </div>
              <div class="col-md-5">
                <div class="text-center"> <strong> Quote Details </strong></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- bottom Section -->
  <div class="row d-flex justify-content-between mt-4 px-2">
    <div class="btn btn-primary" routerLink='/step/credit-check' style="width: 200px;">Previous</div>
    <div class="btn btn-primary" routerLink='/step/direct-debit' style="width: 200px;">Continue</div>
  </div>
</div>