<!-- Spinner -->
<ngx-spinner bdColor="rgba(0,0,0,0.78)" size="medium" color="#fa0000" type="triangle-skew-spin" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="container-fluid px-0">
    <div class="row r1 p-0">
        <div class="col-md-6 col-sm-12 col-lg-6 pr-0 image-banner">
            <img src="/assets/images/RegisterBanner.jpg" alt="Register Banner" width="100%" height="100%">
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6 px-5 f1 d-flex align-items-center justify-content-center">
            <!-- Form Begin -->
            <form #registrationForm="ngForm" (ngSubmit)="formSubmit(registrationForm)" autocomplete="off">
                <div class="text-center display-4">Register</div>
                <div class="row mt-2">
                    <div class="form-group col-md-2 px-1">
                        <label for="prefix">Prefix</label>
                        <select id="prefix" name="prefix" #prefix="ngModel" [(ngModel)]="user.Prefix"
                            class="form-control" required>
                            <option value="" disabled="true">Prefix</option>
                            <option *ngFor="let item of data" [ngValue]="item.name">{{item.name}}</option>
                        </select>
                        <div class="text-danger" *ngIf="prefix.touched && !prefix.valid">Prefix is Required!</div>
                    </div>
                    <div class="form-group col-md-5 px-1">
                        <label for="fname">First Name:</label>
                        <input id="fname" type="text" name="FirstName" #firstName="ngModel" [(ngModel)]="user.FirstName"
                            class="form-control" required placeholder="first name">
                        <div class="text-danger" *ngIf="firstName.touched && !firstName.valid">First Name is Required!
                        </div>
                    </div>
                    <div class="form-group col-md-5 px-1">
                        <label for="lname">Last Name:</label>
                        <input id="lname" type="text" name="LastName" #lastName="ngModel" [(ngModel)]="user.LastName"
                            class="form-control" required placeholder="last name">
                        <div class="text-danger" *ngIf="lastName.touched && !lastName.valid">Last Name is Required!
                        </div>
                    </div>
                    <div class="form-group col-md-6 px-1">
                        <label for="contact">Contact:</label>
                        <input id="contact" type="text" name="Contact" #contact="ngModel" [(ngModel)]="user.Contact"
                            class="form-control" placeholder="contact">
                    </div>

                    <div class="form-group col-md-6 px-1">
                        <label for="dob">Date of Birth:</label>
                        <input id="dob" type="text" bsDatepicker name="DateOfBirth" #dateOfBirth="ngModel"
                            [(ngModel)]="user.DateOfBirth" class="form-control" required
                            [bsConfig]="{ isAnimated: true, adaptivePosition: true, containerClass: 'theme-red', dateInputFormat: 'DD-MM-YYYY' }"
                            placeholder="DD-MM-YYYY">
                        <div class="text-danger" *ngIf="dateOfBirth.touched && !dateOfBirth.valid">Provide Date of
                            Birth!</div>
                    </div>
                    <div class="form-group col-md-6 px-1">
                        <label for="email">Email:</label>
                        <input id="email" type="text" name="Email" #email="ngModel" [(ngModel)]="user.Email"
                            class="form-control" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                            placeholder="email">
                        <div class="text-danger" *ngIf="email.touched && email.errors?.required">Email is Required!
                        </div>
                        <div class="text-danger" *ngIf="email.touched && email.errors?.pattern">Email is Invalid!</div>
                    </div>
                    <div class="form-group col-md-6 px-1">
                        <label for="password">Password:</label>
                        <div class="input-group mb-3">
                            <input id="password" type="{{seePassword?'text':'password'}}" name="Password"
                                #password="ngModel" [(ngModel)]="user.Password" class="form-control" required
                                placeholder="password">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="{{seePassword?'fa fa-eye':'fa fa-eye-slash'}}"
                                        (click)="seePassword = !seePassword" style="font-size: large;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="password.touched && !password.valid">Password is Required!</div>
                    </div>

                    <div class="form-group col-md-12 px-1">
                        <button type="submit" class="btn btn-primary  float-center btn-block"
                            [disabled]="registrationForm.invalid">Register</button>
                    </div>
                    <div class="form-group col-md-12">
                        <div class=""> Already Registered ?</div>
                    </div>
                    <div class="form-group col-md-12">
                        <a class="btn btn-success w-50 " [routerLink]="['/account/login']">Login</a>
                    </div>
                </div>
            </form>
            <!-- form End -->
        </div>
    </div>
</div>