<div class="row mt-1">

  <div class="accordion col-md-12 col-xl-12" id="accordionExample" style="margin-top: 6%;">
    <div class="card">
      <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
        aria-controls="collapseOne">
        <h2 class="mb-0">
          <div class="row d-flex align-items-center">
            <h3 class="col-md-11 m-0"> Direct Debit</h3>
            <i class="fa fa-angle-down col-md-1 col-1" style="font-size:30px;"></i>
          </div>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <form name="templateDrivenForm" novalidate>
            <div class="form-group row">
              <label for="iBan" class="col-sm-2 col-form-label">IBAN:</label>
              <input id="iBan" name="iban" class="form-control col-md-4" #iban="ngModel" type="text" ibanValidator
                [(ngModel)]="ibanNumber" required autocomplete="off">
              <div *ngIf="iban.invalid && (iban.dirty || iban.touched)" class="text-danger">

                <div *ngIf="iban.errors.required">
                  IBAN is required.
                </div>
                <div *ngIf="iban.errors.iban">
                  <i class="fa fa-times-circle-o"></i> IBAN is invalid
                </div>

              </div>
              <div *ngIf="iban.valid && (iban.dirty || iban.touched)" class="text-success">
                <i class="fa fa-check-circle"></i> IBAN is valid.
              </div>
            </div>
            <button class="btn btn-success mt-3" style="width: 150px;" (click)="onSave()"
            [disabled]="!(iban.valid && (iban.dirty || iban.touched))"> <i
                class="fa fa-floppy-o"></i> Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row d-flex justify-content-between px-4 mt-4 py-2">
  <button class="btn btn-primary" mat-button matStepperPrevious style="width: 200px;">Previous</button>
  <button class="btn btn-primary" [disabled]="!(iban.valid && (iban.dirty || iban.touched))"
   (click)="onContinue()" style="width: 200px;">Continue</button>
</div>