 <!-- Accordian - Private Lease -->
 <div class="card">
  <div class="card-header" id="headingThree" type="button" data-toggle="collapse" data-target="#collapseThree"
    aria-expanded="true" aria-controls="collapseOne">
    <h2 class="mb-0">
      <div class="row d-flex align-items-center justify-content-between px-3">
        <h3 class="m-0">Aggrement</h3>
        <div class="d-flex justify-content-right align-items-center">
          <span *ngIf="agreed" class="text-success mr-2" style="font-size: 15px;">Complete</span>
          <span *ngIf="!agreed" class="text-danger mr-2" style="font-size: 15px;">Incomplete</span>
          <i class="fa fa-angle-down " style="font-size:30px;"></i>
        </div>
      </div>
    </h2>
  </div>
  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
    <div class="card-body text-justify">
      <h2>Some explanations about your Private Lease contract</h2>
      <h3 class="mt-5">Private Lease</h3>
      <p>Private Lease is a long-term rental option that allows individuals to rent a new car for a specified
        period
        of time and mileage. The private leasing formula includes all vehicle-related services for a single
        fixed monthly amount (insurance , maintenance and repairs , winter and summer tyres , breakdown and
        roadside
        assistance , road tax , immediate replacement vehicle). </p>
      <p>You need to download and consider the Pre-contract information contained in the link below. The
        Pre-contract
        information will explain the key features of your lease contract. </p>
      <p>Please read this information carefully so that you understand how your agreement will work. If you
        have any questions please call 1122334455 or send an email to privatelease@gmail.com.</p>
      <a href="#">Download Pre-Contact Information(.pdf)</a>
      <div class="row mt-5 align-items-center justify-content-left">
        <input  class="col-1 col-md-1 mr-0" type="checkbox" id="agree" [(ngModel)]="agreed" (change)="onChange()">
        <label class="col-11 col-md-11 mb-0" for="agree"> I have reviewed and accept the information in these documents</label>
      </div>
    </div>
  </div>
</div>